@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@media (prefers-color-scheme: dark) {
	:root {
		--primary-color: #171d4b;
		--secondary-color: #5c93c4;
		--tertiary-color: #2ed3c6;
		--completed-color: #bedafa;
		--secondary-mutated-color: #38428bd3;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--primary-color: #f8f5e6;
		--secondary-color: #171d4b;
		--tertiary-color: #2ed3c6;
		--completed-color: #b6b6b6;
		--secondary-mutated-color: #38428bd3;
	}
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--primary-color);
	margin: 0;
	padding: 20px;
	font-family: 'Rubik', sans-serif;
	display: flex;
	align-items: center;
	justify-content: content;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.container .switch_box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 200px;
	min-width: 200px;
	height: 200px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.container .box_3 {
	/* background: var(--tertiary-color); */
}

.container .toggle_switch {
	width: 50px;
	height: 25px;
	position: relative;
}

.container input[type='checkbox'].switch {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: -230px;
	width: 100%;
	height: 100%;
	cursor: pointer;
	outline: 0;
	z-index: 1;
}

.container svg.checkbox .outer-ring {
	stroke-dasharray: 375;
	stroke-dashoffset: 375;
	-webkit-animation: resetRing 0.35s ease-in-out forwards;
	animation: resetRing 0.35s ease-in-out forwards;
}

.container input[type='checkbox'].switch:checked + svg.checkbox .outer-ring {
	-webkit-animation: animateRing 0.35s ease-in-out forwards;
	animation: animateRing 0.35s ease-in-out forwards;
}

.container input[type='checkbox'].switch:checked + svg.checkbox .is_checked {
	opacity: 1;
	-webkit-transform: translateX(0) rotate(0deg);
	transform: translateX(0) rotate(0deg);
}

.container input[type='checkbox'].switch:checked + svg.checkbox .is_unchecked {
	opacity: 0;
	-webkit-transform: translateX(-200%) rotate(180deg);
	transform: translateX(-200%) rotate(180deg);
}

.container svg.checkbox {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: -230px;
	width: 100%;
	height: 100%;
}

.container svg.checkbox .is_checked {
	opacity: 0;
	fill: var(--secondary-color);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transform: translateX(200%) rotate(45deg);
	transform: translateX(200%) rotate(45deg);
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}

.container svg.checkbox .is_unchecked {
	opacity: 1;
	fill: var(--secondary-color);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transform: translateX(0) rotate(0deg);
	transform: translateX(0) rotate(0deg);
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}

@-webkit-keyframes animateRing {
	to {
		stroke-dashoffset: 0;
		stroke: var(--tertiary-color);
	}
}

@keyframes animateRing {
	to {
		stroke-dashoffset: 0;
		stroke: var(--tertiary-color);
	}
}

@-webkit-keyframes resetRing {
	to {
		stroke-dashoffset: 0;
		stroke: var(--tertiary-color);
	}
}

@keyframes resetRing {
	to {
		stroke-dashoffset: 0;
		stroke: var(--tertiary-color);
	}
}

.container > i {
	position: absolute;
	top: 20px;
	right: 30px;
	cursor: pointer;
	transition: color 0.3s ease-in;
	color: var(--secondary-color);
}

.container > i:hover {
	color: var(--tertiary-color);
}

.container .logo-text {
	margin-top: -30px;
	text-align: center;
	color: var(--secondary-color);
	letter-spacing: 1px;
	font-size: 18px;
}

.container .logo-text span {
	color: var(--tertiary-color);
}

.container .app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 90%;
}

.container .app .todo-head {
	width: 80%;
	height: 60px;
	background-color: var(--secondary-color);
}

.container .app .todo-head h2 {
	text-align: center;
	color: var(--primary-color);
	font-size: 20px;
}

.container .app .todos {
	position: relative;
	background-color: var(--secondary-color);
	width: 80%;
	margin-top: 40px;
	padding: 25px;
	color: var(--primary-color);
	font-size: 18px;
}

.container .app .todos .add-todo {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	position: absolute;
	cursor: pointer;
	top: -25px;
	left: 60%;
	width: 200px;
	height: 50px;
	background-color: var(--tertiary-color);
	color: var(--primary-color);
	border-radius: 50px;
	transition: transform 0.2s ease-in-out;
}

.container .app .todos .add-todo:hover {
	transform: scale(1.1);
}

.container .app .todos ul {
	/* position: relative; */
	padding: 10px;
}

.container .app .todos ul li {
	position: relative;
	cursor: pointer;
	margin-bottom: 20px;
	list-style: none;
	font-size: 20px;
	margin-left: 20px;
	/* margin-right: 20px; */
	padding: 0px 0 0 5px;
	opacity: 1;
	-webkit-transition: opacity 1000ms linear;
	transition: opacity 1000ms linear;
}

.container .app .todos ul li:last-child {
	margin-bottom: 0;
}

.container .app .todos ul li.completed {
	text-decoration: line-through;
	color: var(--completed-color);
}

.container .app .todos ul li input[type='checkbox'] {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.container .app .todos ul li .checkbox-label .checkbox-custom {
	position: absolute;
	top: 0;
	left: -35px;
	height: 20px;
	width: 20px;
	background-color: transparent;
	border-radius: 5px;
	border: 2px solid var(--tertiary-color);

	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
}

.container .app .todos ul li .checkbox-label .checkbox-custom::after {
	position: absolute;
	content: '';
	left: 12px;
	top: 12px;
	height: 0px;
	width: 0px;
	border-radius: 5px;
	border: solid var(--secondary-color);
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(0deg) scale(0);
	-ms-transform: rotate(0deg) scale(0);
	transform: rotate(0deg) scale(0);
	opacity: 1;

	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
}

.container .app .todos ul li .checkbox-label input:checked ~ .checkbox-custom {
	background-color: var(--primary-color);
	border-radius: 5px;
	-webkit-transform: rotate(0deg) scale(1);
	-ms-transform: rotate(0deg) scale(1);
	transform: rotate(0deg) scale(1);
	opacity: 1;
	border: 2px solid var(--primary-color);
}

.container
	.app
	.todos
	ul
	li
	.checkbox-label
	input:checked
	~ .checkbox-custom::after {
	-webkit-transform: rotate(45deg) scale(1);
	-ms-transform: rotate(45deg) scale(1);
	transform: rotate(45deg) scale(1);
	opacity: 1;
	left: 6px;
	top: 2px;
	width: 4px;
	height: 9px;
	border: solid var(--secondary-color);
	border-width: 0 2px 2px 0;
	background-color: transparent;
	border-radius: 0;
}

.container .app .todos ul li i {
	position: absolute;
	right: 10px;
	cursor: pointer;
	opacity: 0;
	transition: all 0.3s ease;
}

.container .app .todos ul li i:hover {
	color: var(--tertiary-color);
}

.container .app .todos ul li:hover i {
	opacity: 1;
}

.footer {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 0;
	background-color: var(--secondary-color);
	margin-top: 10px;
	width: 100%;
	height: 40px;
	color: var(--primary-color);
}

.new-todo {
	width: 70%;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -800px);
	background-color: var(--secondary-mutated-color);
	color: var(--primary-color);
	padding: 20px;
	border-radius: 5px;
	transition: all 0.5s ease-in-out;
	text-align: center;
	width: 50%;
}

.new-todo.show {
	transform: translate(-50%, 0);
}

.new-todo textarea {
	border: 1px solid var(--secondary-color);
	border-radius: 4px;
	font-size: 16px;
	padding: 8px;
	margin: 15px 0;
	width: 100%;
	height: 150px;

	transition: all 0.3s ease-in;
}

.new-todo textarea:focus {
	outline: 0;
}

.new-todo textarea.error {
	border: 1.6px solid #e74c3c;
}

.new-todo .btn {
	width: 100%;
	cursor: pointer;
	background-color: var(--secondary-color);
	border: 0;
	border-radius: 4px;
	color: var(--primary-color);
	font-size: 16px;
	padding: 8px;

	transition: all 0.3s ease-in-out;
}

.new-todo .btn:hover {
	background-color: var(--tertiary-color);
}

.new-todo .btn:focus {
	outline: 0;
}

.new-todo .close {
	float: right;
	text-align: right;
	cursor: pointer;
}

.modal-container {
	background-color: rgba(52, 55, 73, 1);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.modal-container.show-modal {
	display: block;
}

.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	/* text-align: center; */
	background-color: var(--primary-color);

	animation-name: modalopen;
	animation-duration: 1s;
}

.modal-content {
	padding: 20px;
	color: var(--secondary-color);
}

.modal-content h2 > span a {
	cursor: pointer;
	text-decoration: none;
	color: var(--secondary-mutated-color);
	border-bottom: 1px solid var(--tertiary-color);
}

.modal .link {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal .link a {
	text-decoration: none;
	color: var(--secondary-color);
	transition: color 0.3s ease-in-out;
}

.modal .link a:hover {
	color: var(--tertiary-color);
}

.modal .link i {
	font-size: 23px;
	margin-right: 5px;
}

.close-btn {
	background: transparent;
	font-size: 25px;
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	padding: 30px;
	cursor: pointer;
	outline: none;
	z-index: 10;
}

.close-btn i {
	border-radius: 50%;
	width: 35px;
	height: 35px;
	text-align: center;
	padding: 8px;
	font-size: 20px;
}

@keyframes modalopen {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@media (max-width: 700px) and (min-width: 400px) {
	.container .app {
		min-width: 90%;
	}

	.container .app .todo-head {
		width: 100%;
	}

	.container .app .todos {
		width: 100%;
		padding: 15px;
	}

	.container .app .todos .add-todo {
		top: -20px;
		left: 50%;
		width: 150px;
		font-size: 14px;
		height: 40px;
	}

	.container .app .todos ul li i {
		opacity: 1;
		right: 0;
	}

	.container .app .todos ul li i:hover {
		color: var(--tertiary-color);
	}

	.new-todo {
		width: 60%;
	}
}

@media (max-width: 1200px) and (min-width: 900px) {
	.container .app {
		min-width: 90%;
	}

	.container .app .todo-head {
		width: 90%;
	}

	.container .app .todos {
		width: 90%;
		padding: 15px;
	}

	.container .app .todos .add-todo {
		left: 60%;
	}

	.container .app .todos ul li {
		margin-right: 20px;
	}

	.container .app .todos ul li .checkbox-label .checkbox-custom {
		left: -25px;
	}

	.container .app .todos ul li i {
		opacity: 1;
		right: -20px;
	}

	.container .app .todos ul li i:hover {
		color: var(--tertiary-color);
	}

	.new-todo {
		width: 60%;
	}
}

@media (max-width: 900px) and (min-width: 600px) {
	.container .app {
		min-width: 90%;
	}

	.container .app .todo-head {
		width: 90%;
	}

	.container .app .todos {
		width: 90%;
		padding: 15px;
	}

	.container .app .todos .add-todo {
		left: 60%;
	}

	.container .app .todos ul li {
		margin-right: 25px;
	}

	.container .app .todos ul li .checkbox-label .checkbox-custom {
		left: -25px;
	}

	.container .app .todos ul li i {
		opacity: 1;
		right: -25px;
	}

	.container .app .todos ul li i:hover {
		color: var(--tertiary-color);
	}

	.new-todo {
		width: 70%;
	}
}

@media (max-width: 600px) {
	.container .app {
		min-width: 100%;
	}

	.container .app .todo-head {
		width: 100%;
	}

	.container .app .todos {
		width: 100%;
		padding: 10px;
	}

	.container .app .todos .add-todo {
		left: 80%;
		width: 50px;
		height: 50px;
	}

	.container .app .todos .add-todo h3 {
		display: none;
	}

	.container .app .todos {
		padding: 5px;
	}

	.container .app .todos ul {
		opacity: 1;
		margin-left: -14px;
	}

	.container .app .todos ul li {
		font-size: 16px;
		padding: 0px 0 0 18px;
		margin-right: 22px;
	}

	.container .app .todos ul li .checkbox-label .checkbox-custom {
		left: -10px;
	}

	.container .app .todos ul li i {
		opacity: 1;
		right: -25px;
		font-size: 18px;
	}

	.container .app .todos ul li i:hover {
		color: var(--tertiary-color);
	}

	.new-todo {
		width: 90%;
	}
}
