@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #f8f5e6;
	margin: 0;
	padding: 20px;
	font-family: 'Rubik', sans-serif;
	display: flex;
	align-items: center;
	justify-content: content;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.container .logo-text {
	text-align: center;
	color: #171d48;
	letter-spacing: 1px;
	font-size: 18px;
}

.container .logo-text span {
	color: #2ed3c6;
}

.container .app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 70%;
}

.container .app .todo-head {
	width: 80%;
	height: 60px;
	background-color: #171d4b;
}

.container .app .todo-head h2 {
	text-align: center;
	color: #f8f5e6;
	font-size: 20px;
}

.container .app .todos {
	position: relative;
	background-color: #171d4b;
	width: 80%;
	margin-top: 40px;
	padding: 25px;
	color: #f8f5e6;
	font-size: 18px;
}

.container .app .todos .add-todo {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	position: absolute;
	cursor: pointer;
	top: -25px;
	left: 60%;
	width: 200px;
	height: 50px;
	background-color: #2ed3c6;
	color: #f8f5e6;
	border-radius: 50px;
	transition: transform 0.2s ease-in-out;
}

.container .app .todos .add-todo:hover {
	transform: scale(1.1);
}

.container .app .todos ul {
	position: relative;
	padding: 10px;
}

.container .app .todos ul li {
	cursor: pointer;
	margin-bottom: 20px;
	list-style: none;
	font-size: 20px;
	margin-left: 20px;

	opacity: 1;
	-webkit-transition: opacity 1000ms linear;
	transition: opacity 1000ms linear;
}

.container .app .todos ul li.completed {
	text-decoration: line-through;
	color: #b6b6b6;
}

.container .app .todos ul li i {
	position: absolute;
	right: 20px;
	cursor: pointer;
	opacity: 0;
	transition: all 0.3s ease;
}

.container .app .todos ul li i:hover {
	color: #2ed3c6;
}

.container .app .todos ul li:hover i {
	opacity: 1;
}

.footer {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 0;
	background-color: #171d48;
	margin-top: 10px;
	width: 100%;
	height: 40px;
	/* text-align: center; */
	color: #f8f5e6;
}

.footer a {
	text-decoration: underline;
	color: #f8f5e6;
	transition: color 0.2s ease-in;
}

.footer a:hover {
	color: #2ed3c6;
}

.new-todo {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	bottom: 0;
	opacity: 0;
	width: 40%;
	height: 60px;
	padding-top: 5px;
	background-color: #38428bd3;
	transition: all 0.3s ease-in-out;
}

.new-todo.show {
	bottom: 0;
	opacity: 1;
	transform: translateY(-0px);
}

.new-todo input {
	padding: 10px;
	width: 80%;
	border: 2px solid #171d4b;
	transition: border 0.3s ease-in-out;
}

.new-todo input:focus {
	outline: 0;
	border: 2px solid #2ed3c6;
}

.new-todo i {
	cursor: pointer;
	position: absolute;
	font-size: 20px;
	top: 25px;
	left: 84%;
	transition: color 0.3s ease;
}

.new-todo i:hover {
	color: #2ed3c6;
}

@media (max-width: 700px) and (min-width: 400px) {
	.container .app {
		min-width: 90%;
	}

	.container .app .todo-head {
		width: 100%;
	}

	.container .app .todos {
		width: 100%;
		padding: 15px;
	}

	.container .app .todos .add-todo {
		top: -20px;
		left: 50%;
		width: 150px;
		font-size: 14px;
		height: 40px;
	}

	.container .app .todos ul li {
		font-size: 18px;
	}

	.container .app .todos ul li i {
		opacity: 1;
		right: 0;
	}

	.new-todo {
		width: 80%;
	}

	.new-todo input {
		padding: 10px;
		width: 80%;
	}

	.new-todo i {
		top: 25px;
		left: 83%;
	}
}

@media (max-width: 1200px) and (min-width: 900px) {
	.container .app {
		min-width: 90%;
	}

	.container .app .todo-head {
		width: 90%;
	}

	.container .app .todos {
		width: 90%;
		padding: 15px;
	}

	.container .app .todos .add-todo {
		left: 60%;
	}

	.container .app .todos ul li i {
		opacity: 1;
		right: 5px;
	}

	.new-todo {
		width: 50%;
	}

	.new-todo input {
		width: 80%;
	}

	.new-todo i {
		top: 25px;
		left: 84%;
	}
}

@media (max-width: 900px) and (min-width: 600px) {
	.container .app {
		min-width: 90%;
	}

	.container .app .todo-head {
		width: 90%;
	}

	.container .app .todos {
		width: 90%;
		padding: 15px;
	}

	.container .app .todos .add-todo {
		left: 60%;
	}

	.container .app .todos ul li i {
		opacity: 1;
		right: 5px;
	}

	.new-todo {
		width: 80%;
	}

	.new-todo input {
		width: 90%;
	}

	.new-todo i {
		top: 25px;
		left: 84%;
	}
}

@media (max-width: 600px) {
	.container .app {
		min-width: 100%;
	}

	.container .app .todo-head {
		width: 100%;
	}

	.container .app .todos {
		width: 100%;
		padding: 10px;
	}

	.container .app .todos .add-todo {
		left: 80%;
		width: 50px;
		height: 50px;
	}

	.container .app .todos .add-todo h3 {
		display: none;
	}

	.container .app .todos ul li i {
		opacity: 1;
		right: 5px;
	}

	.new-todo {
		width: 100%;
	}

	.new-todo input {
		width: 90%;
	}

	.new-todo i {
		top: 25px;
		left: 87%;
	}
}
