@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
	--primary-color: #f8f5e6;
	--secondary-color: #171d4b;
	--tertiary-color: #2ed3c6;
	--completed-color: #b6b6b6;
	--secondary-mutated-color: #38428bd3;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--primary-color);
	margin: 0;
	padding: 20px;
	font-family: 'Rubik', sans-serif;
	display: flex;
	align-items: center;
	justify-content: content;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.container > i {
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
	transition: color 0.3s ease-in;
}

.container > i:hover {
	color: var(--tertiary-color);
}

.container .logo-text {
	text-align: center;
	color: var(--secondary-color);
	letter-spacing: 1px;
	font-size: 18px;
}

.container .link a {
	text-decoration: none;
	color: var(--secondary-color);
	transition: color 0.3s ease-in-out;
}

.container .link a:hover {
	color: var(--tertiary-color);
}

.container .link i {
	font-size: 23px;
	margin-right: 5px;
}

.container .logo-text span {
	color: var(--tertiary-color);
}

.container .app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 70%;
}

.container .app .todo-head {
	width: 80%;
	height: 60px;
	background-color: var(--secondary-color);
}

.container .app .todo-head h2 {
	text-align: center;
	color: var(--primary-color);
	font-size: 20px;
}

.container .app .todos {
	position: relative;
	background-color: var(--secondary-color);
	width: 80%;
	margin-top: 40px;
	padding: 25px;
	color: var(--primary-color);
	font-size: 18px;
}

.container .app .todos .add-todo {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	position: absolute;
	cursor: pointer;
	top: -25px;
	left: 60%;
	width: 200px;
	height: 50px;
	background-color: var(--tertiary-color);
	color: var(--primary-color);
	border-radius: 50px;
	transition: transform 0.2s ease-in-out;
}

.container .app .todos .add-todo:hover {
	transform: scale(1.1);
}

.container .app .todos ul {
	position: relative;
	padding: 10px;
}

.container .app .todos ul li {
	cursor: pointer;
	margin-bottom: 20px;
	list-style: none;
	font-size: 20px;
	margin-left: 20px;

	opacity: 1;
	-webkit-transition: opacity 1000ms linear;
	transition: opacity 1000ms linear;
}

.container .app .todos ul li.completed {
	text-decoration: line-through;
	color: var(--completed-color);
}

.container .app .todos ul li i {
	position: absolute;
	right: 20px;
	cursor: pointer;
	opacity: 0;
	transition: all 0.3s ease;
}

.container .app .todos ul li i:hover {
	color: var(var(--tertiary-color));
}

.container .app .todos ul li:hover i {
	opacity: 1;
}

.footer {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 0;
	background-color: var(--secondary-color);
	margin-top: 10px;
	width: 100%;
	height: 40px;
	color: var(--primary-color);
}

.new-todo {
	width: 70%;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -800px);
	background-color: var(--secondary-mutated-color);
	color: var(--primary-color);
	padding: 20px;
	border-radius: 5px;
	transition: all 1s ease-in-out;
	text-align: center;
	width: 50%;
}

.new-todo.show {
	transform: translate(-50%, -0);
}

.new-todo textarea {
	border: 1px solid var(--secondary-color);
	border-radius: 4px;
	font-size: 16px;
	padding: 8px;
	margin: 15px 0;
	width: 100%;
	height: 150px;
}

.new-todo .btn {
	width: 100%;
	cursor: pointer;
	background-color: var(--secondary-color);
	border: 0;
	border-radius: 4px;
	color: var(--primary-color);
	font-size: 16px;
	padding: 8px;
}

.new-todo .close {
	float: right;
	text-align: right;
	cursor: pointer;
}

.modal-container {
	background-color: rgba(52, 55, 73, 1);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.modal-container.show-modal {
	display: block;
}

.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	/* text-align: center; */
	background-color: var(--primary-color);

	animation-name: modalopen;
	animation-duration: 1s;
}

.modal-content {
	padding: 20px;
	color: var(--secondary-color);
}

.close-btn {
	background: transparent;
	font-size: 25px;
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	padding: 30px;
	cursor: pointer;
	outline: none;
	z-index: 10;
}

.close-btn i {
	border-radius: 50%;
	width: 35px;
	height: 35px;
	text-align: center;
	padding: 8px;
	font-size: 20px;
}

@keyframes modalopen {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@media (max-width: 700px) and (min-width: 400px) {
	.container .app {
		min-width: 90%;
	}

	.container .app .todo-head {
		width: 100%;
	}

	.container .app .todos {
		width: 100%;
		padding: 15px;
	}

	.container .app .todos .add-todo {
		top: -20px;
		left: 50%;
		width: 150px;
		font-size: 14px;
		height: 40px;
	}

	.container .app .todos ul li {
		font-size: 18px;
	}

	.container .app .todos ul li i {
		opacity: 1;
		right: 0;
	}

	.new-todo {
		width: 60%;
	}
}

@media (max-width: 1200px) and (min-width: 900px) {
	.container .app {
		min-width: 90%;
	}

	.container .app .todo-head {
		width: 90%;
	}

	.container .app .todos {
		width: 90%;
		padding: 15px;
	}

	.container .app .todos .add-todo {
		left: 60%;
	}

	.container .app .todos ul li i {
		opacity: 1;
		right: 5px;
	}

	.new-todo {
		width: 60%;
	}
}

@media (max-width: 900px) and (min-width: 600px) {
	.container .app {
		min-width: 90%;
	}

	.container .app .todo-head {
		width: 90%;
	}

	.container .app .todos {
		width: 90%;
		padding: 15px;
	}

	.container .app .todos .add-todo {
		left: 60%;
	}

	.container .app .todos ul li i {
		opacity: 1;
		right: 5px;
	}

	.new-todo {
		width: 70%;
	}
}

@media (max-width: 600px) {
	.container .app {
		min-width: 100%;
	}

	.container .app .todo-head {
		width: 100%;
	}

	.container .app .todos {
		width: 100%;
		padding: 10px;
	}

	.container .app .todos .add-todo {
		left: 80%;
		width: 50px;
		height: 50px;
	}

	.container .app .todos .add-todo h3 {
		display: none;
	}

	.container .app .todos ul li i {
		opacity: 1;
		right: 5px;
	}

	.new-todo {
		width: 90%;
	}
}
